body {
  font-size: 16px;
    color:##243238;
  box-sizing:border-box;
display:block;
font-family:system-ui;
height:641px;
line-height:24px;
background-color:yellow ;
  }
  #header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}
#logo-img{
background: url('construction.png');
  background-repeat: no-repeat;
  width: 150px;
  height: 150px;
  margin: 10px 15px 10px 0;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family:system-ui;
  color:#000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #951C49;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}

#phone {
  margin-top: 5px;
}
#phone a { /* Phone number */
  text-align: right;
  padding-bottom: 0;
}
#phone div { /*contact us*/
  color: #557c3e;
  text-align: right;
  padding-right: 15px;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.container .jumbotron {
  box-shadow: 0 0 50px #3F0C1F;
  border: 2px solid #3F0C1F;
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: brown;
}
}
#home {
  margin-bottom: 30px;
}
.row{
  position: relative;
  float: left;

}
.row > div > article {
  background-color: #999898;
  text-align: center;
  color: black;
  margin: auto;

}
#aboutus-tile{
    height: 150px;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
font-size: 20px;
}

 #team-tile,#services-tile,#testimonials-tile {
  position: relative;
  border: 2px solid #3F0C1F;
  overflow: hidden;
  background-size: contain;
}
.team-row p{
  color: #000;
  font-size: 25px;

}
.services-row{
  color:#000;
  font-size: 15px;
}
.testimonials-row p{
  color: #000;
  font-size:20px;
}
/*large devices*/
@media (min-width: 1200px) {
  .container .jumbotron {
    background: url('bridge_under_construction-wallpaper-1366x768.jpg') no-repeat;
    height: 675px;
  }
}

@media (min-width: 962px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('construction.png') no-repeat;
    width: 100px;
    height: 100px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */

  /* Home Page */
  .container .jumbotron {
    background: url('bridge_under_construction-wallpaper-1024x576.jpg') no-repeat;
    height: 558px;
  }
  /* End Home Page */
}
@media (min-width: 540px) and (max-width: 960px) {
  /* Home Page */
  .container .jumbotron {
    background: url('bridge_under_construction-wallpaper-960x540.jpg') no-repeat;
    height: 432px;
  }
  /* End Home Page */
} 